body {
  background-color: #595959;
}

.stylish-color-organ {
  background-color: #d46c2e  !important; }
.stylish-color-drak {
  background-color: #595959  !important; }

.home-container {
  color: white;
}
